/* Space out content a bit */

.navbar {
  background-color: white;
  margin-bottom: 0;
}

.cg-busy-default-sign {
  background-color: white;
  border: 1px solid #eee;
  border-radius: 2px;
  box-shadow: none;
}

body {
  /*font-size: 16px;*/
  /*background-color: #eee;*/
}

.wrapper {
	padding-top: 20px;
	padding-bottom: 40px;
}
.wrapper-dark {
	background-color: #eee;
}