/* Space out content a bit */

.navbar {
    background-color: white;
}
.cg-busy-default-sign {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 2px;
    box-shadow: none;
}

body {
	/*font-size: 16px;*/
}
