<div class="container">
    <div class="col-sm-12">
        <h2>Feed</h2>
    </div>

    <div class="col-sm-8">
        <div class="panel panel-default" ng-repeat="post in posts" style="border-radius: 0px;">
            <div class="panel-body">
                <div class="media">
                    <div class="pull-left" style="width: 48px; height: 48px; background-color: #428bca; border: 1px solid #397FBD">

                    </div>
                    <div class="media-body">
                        <p style="margin-bottom: 3px;">
                            <a ui-sref="user.projects({userId: post.user.id })">{{ post.user.name }}</a>
                            started working on
                            <a ui-sref="user.project({userId: post.user.id, projectId: post.project.id })">{{ post.project.name }}</a>
                        </p>
                        <p class="text-muted">
                            <span am-time-ago="post.created" am-preprocess="unix"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Online
                </h3>
            </div>
            <ul class="list-group">
                <li class="list-group-item" ng-hide="online.length">
                    <span class="text-muted">No one's online.</span>
                </li>
                <li class="list-group-item" ng-repeat="user in online">
                    <div>
                        <div style="display: inline-block; width: 10px; height: 10px; background-color: #AAEE00; margin-right:3px;"></div>
                        <a ui-sref="user.projects({userId: user.id})">
                        	{{ user.name }}
                        </a>
                        (
                        <a ui-sref="user.project({ userId: user.id, projectId: user.activeProject.id  })">
                        	{{ user.activeProject.name }}
                        </a>)
                        <span class="text-muted" am-time-ago="user.lastProgress.created" am-preprocess="unix"></span>
                    </div>
                </li>
            </ul>
        </div>
    </div>




</div>
