<div style="background-color:#eee;padding-top:40px;padding-bottom:40px;" class="information">
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="panel panel-default">
                <div class="panel-body" style="position:relative;">
                	<button class="btn btn-link" ui-sref="me.feed" style="position:absolute;top:20px;right:20px;">No Mac? Skip Ahead</button>
                    <h2><i class="fa fa-apple"></i> Mac App Setup</h2>
                    <h3>Step 1 - Download and Install</h3>
                    <div class="download text-center" style="margin-bottom:20px;">
                        <a class="btn btn-warning" ng-href="{{ downloadUrl }}">
                            <span class="glyphicon glyphicon-download"></span> Download Mac App
                        </a>
                    </div>

                    <ol>
                        <li>
                            Drag the app to the <code>Applications</code> folder.
                        </li>
                        <li>
                            Run the app and sign in.
                        </li>
                    </ol>

                    <h3>Step 2 - Add a Project</h3>
                    <p>Add a project from the menubar app.</p>

                    <h3>Step 3 - Start working</h3>
                    <p>Whenever you save a file in one of your projects folders, Progress will start tracking. The menubar icon will change to a box with an arrow pointing into it.</p>
                    <p>
                        <figure>
                            <img src="images/intro-progress-inactive.jpg" class="img-responsive">
                            <figcaption>Inactive.</figcaption>
                        </figure>
                    </p>
                    <p>
                        <figure>
                            <img src="images/intro-progress-active.jpg" class="img-responsive">
                            <figcaption>Active.</figcaption>
                        </figure>
                    </p>

                    <h3>Step 4 - Upload a Picture to your Diary</h3>
                    <p>Whenever you are working, use
                        <kbd>CMD + SHIFT + 4</kbd> to take and upload a screenshot.</p>

                    <h3>Step 5 - Go to the Dashboard</h3>
                    <p class="text-center">
                        <a class="btn btn-primary" ui-sref="me.feed">
                           	My Dashboard
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
