<div class="jumbotron jumbotron-landing" style="background-color: #428bca; color: white; text-align:center;">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 style="">
                    <strong>Document your process</strong>
                    with an easy &amp; social visual diary.
                </h1>
                <!-- <p></p>
		<div class="lead">
		    Automatically create a digital visual diary for your project.
		</div> -->
                <div>
                    <button class="btn btn-warning btn-lg" ui-sref="register">Get Started</button>
                    <a class="btn btn-primary btn-lg" ng-href="{{ downloadUrl }}"><i class="fa fa-apple"></i> Download Mac App</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.feature-icon {
    font-size: 50px;
}
</style>
<div style="background-color: white; padding: 30px 0; ">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <i class="fa fa-clock-o feature-icon"></i>
                <h3>Track Your Projects</h3>
                <p>Automatically log the amount of time you put in.</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-eye feature-icon"></i>
                <h3>Watch them Change</h3>
                <p>Snap screenshots and really see them change.</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-group feature-icon"></i>
                <h3>Share with Friends</h3>
                <p>Share your work and follow the work of others.</p>
            </div>
            <div class="col-sm-3">
                <i class="fa fa-lightbulb-o feature-icon"></i>
                <h3>Work Together</h3>
                <p>See when your friends are working and what they are working on.</p>
            </div>
        </div>
    </div>
</div>
