<div class="jumbotron jumbotron-landing">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h1 style="">
                    <strong>Document your process</strong>
                    with an easy & social visual diary.
                </h1>
                <!-- <p></p>
		<div class="lead">
		    Automatically create a digital visual diary for your project.
		</div> -->
                <div>
                    <button class="btn btn-warning btn-lg" ui-sref="register">Join Now - it's free!</button>
                    <a class="btn btn-hollow btn-lg" ng-href="{{ downloadUrl }}"><i class="fa fa-apple"></i> Download Mac App</a>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
.feature-icon {
    font-size: 50px;
}
</style>
<div class="landing">
    <div class="container" style="text-align: center">
    <div class="row">
        <div class="col-sm-12">
            <h3>Something about progress</h3>
            <p>This is a small paragraph about progress.</p>
        </div>
    </div>
</div>
<div style="background-color: white; padding: 30px 0;text-align:center;">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-clock-o feature-icon"></i>
                <h3>Track</h3>
                <p>Automatically log the amount of time you put in.</p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-clock-o feature-icon"></i>
                <h3>Super Simple</h3>
                <p>Automatically log the amount of time you put in.</p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-eye feature-icon"></i>
                <h3>Automatic</h3>
                <p>Snap screenshots and really see them change.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-group feature-icon"></i>
                <h3>Social</h3>
                <p>Share your work and follow the work of others.</p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-lightbulb-o feature-icon"></i>
                <h3>Collaborative</h3>
                <p>See when your friends are working and what they are working on.</p>
            </div>
            <div class="col-sm-4 col-xs-6">
                <i class="fa fa-eye feature-icon"></i>
                <h3>Grow</h3>
                <p>Snap screenshots and really see them change.</p>
            </div>
        </div>
    </div>
</div>
</div>
