<div class="landing-page">
    <div class="jumbotron jumbotron-landing">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <h1>
                    <strong>Document your process</strong>
                    with an easy &amp; social visual journal.
                </h1>
                    <!-- <p class="lead">
                    Keep track of all the all the work you put in.
                </p> -->
                    <!-- <p></p>
        <div class="lead">
            Automatically create a digital visual diary for your project.
        </div> -->
                    <div>
                        <!-- <button class="btn btn-warning btn-lg" ui-sref="register">Join Now - it's free!</button> -->
                        <a class="btn btn-primary btn-lg" ui-sref="register">Create Your Free Journal</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <section class="overview">
            <div class="row" style="text-align: center;">
                <div class="col-sm-6 col-sm-offset-3">
                    <h3 style="font-size: 30px;margin-bottom:20px;">Follow your work from start to finish.</h3>
                    <p style="font-size: 18px;" class="text-muted">
                        Watching your projects evolve shouldn't be a pain. Progress is a visual journal for the digital age. It knows when you are working, and helps you document your entire process.
                    </p>

                    <!-- <p style="font-size: 18px;" class="text-muted">Watching your projects evolve shouldnt be a pain. A physical visual journal great track your work from rough sketches to a final product - But what happens for all of us that work digitally? Progress is a visual journal for the digital age. It knows when you are working, and helps you document your entire process.</p> -->
                </div>
            </div>

        </section>
    </div>
    <div class="container">
        <section class="features">

            <div class="row">
                <div class="col-sm-offset-2 col-sm-3 col-xs-6">
                    <i class="fa fa-clock-o feature-icon"></i>
                    <h3>Time Tracking</h3>
                    <p>Record the amount of time you put in.</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <i class="fa  fa-smile-o  feature-icon"></i>
                    <h3>Super Simple</h3>
                    <p>Upload pictures with simple keyboard shortcuts.</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <i class="fa fa-eye feature-icon"></i>
                    <h3>Automatic</h3>
                    <p>No need to start and stop, we do that for you.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-offset-2 col-sm-3 col-xs-6">
                    <i class="fa fa-comments feature-icon"></i>
                    <h3>Awesomely Social</h3>
                    <p>Share your work and follow the work of others.</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <i class="fa fa-lightbulb-o feature-icon"></i>
                    <h3>Collaborate</h3>
                    <p>Exchange feedback with your friends and followers.</p>
                </div>
                <div class="col-sm-3 col-xs-6">
                    <i class="fa fa-bar-chart-o feature-icon"></i>
                    <h3>Analyse</h3>
                    <p>See when and where you are putting in all that work.</p>
                </div>
            </div>

        </section>
    </div>
    <!-- <div class="container">
        <section class="testimonials">
            <h3>What Poeple are Saying</h3>
            <p>Don’t just take our word for it! We think Progress is the best visual journal app you will ever use, and we think you will too!</p>
        </section>
    </div> -->

    <div class="container">
        <section class="cta" style="text-align: center;">
            <button class="btn btn-lg btn-primary" ui-sref="register">Let's Get Started - It's Free!</button>
            <!-- <h3>What Poeple are Saying</h3> -->
            <!-- <p>Don’t just take our word for it! We think Progress is the best visual journal app you will ever use, and we think you will too!</p> -->
        </section>
    </div>

    <footer>
        <div class="container">
            The world needs a footer. Check out my other stuff at craigmcnamara.com    
        </div>
    </footer>
</div>
</div>
