<div class="panel panel-default" style="border-radius: 0px;">
    <div class="panel-body">
        <a href="" class="pull-right text-muted" ng-show="post.isOwner" ng-click="post.delete()"><i class="fa fa-times"></i></a>

        <div class="media" style="margin-top: 0;">
            <div class="pull-left">
                <img style="width:40px; height:40px;" ng-src="{{ post.user.picture || 'http://dummyimage.com/40x40/dddddd/dddddd' }}" alt="">
            </div>
            <!--<div class="pull-left" style="width: 48px; height: 48px; background-color: #428bca; border: 1px solid #397FBD">

            </div>-->
            <div class="media-body">
                <div ng-switch="post.type">
                    <div ng-switch-when="TEXT">
                        <p style="margin-bottom: 3px;">
                            <a ui-sref="user.projects({userId: post.user.id })">{{ post.user.name }}</a>
                            wrote in
                            <a ui-sref="user.diary({userId: post.user.id, projectId: post.project.id })">{{ post.project.name }}</a>
                        </p>
                        <p class="text-muted">
                            <span am-time-ago="post.created" am-preprocess="unix"></span>
                        </p>
                    </div>

                    <div ng-switch-when="SCREENSHOT_COLLECTION">
                        <p style="margin-bottom: 3px;">
                            <a ui-sref="user.projects({userId: post.user.id })">{{ post.user.name }}</a>
                            uploaded a screenshot for
                            <a ui-sref="user.diary({userId: post.user.id, projectId: post.project.id })">{{ post.project.name }}</a>
                        </p>
                        <p class="text-muted">
                            <span am-time-ago="post.created" am-preprocess="unix"></span>
                        </p>
                    </div>
                    <div ng-switch-when="STARTED_WORKING">
                        <p style="margin-bottom: 3px;">
                            <a ui-sref="user.projects({userId: post.user.id })">{{ post.user.name }}</a>
                            started working on
                            <a ui-sref="user.diary({userId: post.user.id, projectId: post.project.id })">{{ post.project.name }}</a>
                        </p>
                        <p class="text-muted">
                            <span am-time-ago="post.created" am-preprocess="unix"></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <p style="margin: 15px 0;" ng-if="post.text">{{ post.text }}</p>
        <a href="http://ec2-54-206-66-123.ap-southeast-2.compute.amazonaws.com/progress/uploads/{{ file.name }}" target="_blank" ng-repeat="file in post.collection.files" style="display: block; border: 1px solid #ddd; margin: 10px 0; background-color: #eee; text-align: center;">
            <img ng-src="http://ec2-54-206-66-123.ap-southeast-2.compute.amazonaws.com/progress/uploads/{{ file.name }}" alt="" class="img-responsive" style="display: inline-block;">
        </a>
        <div>
            <button class="btn btn-default btn-xs" ng-click="post.toggleLike()" ng-class="{'btn-primary': post.isLiked}">
                <i class="fa fa-thumbs-o-up"></i> 
                Like
            </button>            
        </div>
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-show="post.likes.length">
            <span ng-repeat="like in post.likes">
                <a ui-sref="user.projects({userId: like.user.id })">{{ like.user.name }}</a>
            </span>
            like this.
        </li>
        <li class="list-group-item" ng-repeat="comment in post.comments">
            <div class="media" style="margin-top: 0;">
                <div class="pull-left">
                    <img style="width:40px; height:40px;" ng-src="{{ comment.user.picture || 'http://dummyimage.com/40x40/dddddd/dddddd' }}" alt="">
                </div>
                <div class="media-body">
                    <a href="">{{ comment.user.name }}</a>
                    <div>{{ comment.text }}</div>
                </div>
            </div>
        </li>
        <li class="list-group-item" ng-show="post.type !== 'STARTED_WORKING'">
            <div class="media" style="margin-top: 0;">
                <div class="pull-left">
                    <img style="width:30px; height:30px;" ng-src="{{ currentUser.picture || 'http://dummyimage.com/40x40/dddddd/dddddd' }}" alt="">
                </div>
                <div class="media-body">
                    <form action="" ng-submit="post.addComment(post.$comment)">
                        <input type="text" class="form-control" placeholder="Write a comment..." ng-model="post.$comment.text">
                    </form>
                </div>
        </li>
    </ul>
    </div>
